<p>They played <%= @computer_choice %></p>
<p>We <%= @outcome %></p>

<a href="/">Rules</a><br>
<a href="/rock">Play Rock</a><br>
<a href="/paper">Play Paper</a><br>
<a href="/scissors">Play Scissors</a><br>
